@import '../../main.scss';

.sectionTitle {
  @include h2-title;
  display: block;
}

.arrows {
  display: flex;
  gap: 16px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;

  @include onTablet {
    gap: 0;
  }

  margin-bottom: 24px;
}

.caruselWindow {
  overflow: hidden;
  margin-right: calc(-50vw + 50%);

  @include onDesktop {
    margin-right: 0; 
  }
}

.track {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;

  transition: transform 0.3s ease;

  --col-mobile: calc((100vw - 32px - 48px) / 4);
  grid-auto-columns: calc((3 * var(--col-mobile)) + (2 * 16px));

  @include onTablet {
    --col-tablet: calc((100vw - 48px - 176px) / 12);
    grid-auto-columns: calc((5 * var(--col-tablet)) + (4 * 16px));
  }

  @include onDesktop {
    grid-auto-columns: calc((6 * 32px) + (5 * 16px));
  }
}
